# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.next/

.env
duty-calc-afeb7-firebase-adminsdk-bq4d3-7bdc29907e.json

functions/pyvenv.cfg
functions/venv/
functions/env/
functions/Lib/
functions/Scripts/
functions/Include/
functions/bin/
functions/lib64
functions/share/
functions/__pycache__/

path.py